<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Send Message &mdash; Architect Messenger </title>
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="SMS Application" content="This is system for sending bulk sms to clients">
    <meta name="msapplication-tap-highlight" content="no">

    <link href="../main.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="../favi.png" sizes="32x32">
    <!-- IZITOAST Libraries -->
    <link rel="stylesheet" href="../assets/izitoast/css/iziToast.min.css">

    <!-- dropify -->
    <link rel="stylesheet" href="../assets/dropify/dropify.min.css">

    
    <!-- xlsx.full.min Libraries -->
    <script src="../assets/scripts/xlsx.full.min.js"></script>

</head>

<body>
    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
        <div class="app-header header-shadow">
            <div class="app-header__logo">
                <div class="logo-src"></div>
                <div class="header__pane ml-auto">
                    <div>
                        <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
                            data-class="closed-sidebar">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="app-header__mobile-menu">
                <div>
                    <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
            <div class="app-header__menu">
                <span>
                    <button type="button"
                        class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                        <span class="btn-icon-wrapper">
                            <i class="fa fa-ellipsis-v fa-w-6"></i>
                        </span>
                    </button>
                </span>
            </div>
            <div class="app-header__content">
                <div class="app-header-left">
                    <!-- <div class="search-wrapper">
                        <div class="input-holder">
                            <input type="text" class="search-input" placeholder="Type to search">
                            <button class="search-icon"><span></span></button>
                        </div>
                        <button class="close"></button>
                    </div>
                    <ul class="header-menu nav">
                        <li class="dropdown nav-item">
                            <a href="javascript:void(0);" class="nav-link">
                                <i class="nav-link-icon fa fa-cog"></i>
                                Business Settings
                            </a>
                        </li>
                    </ul> -->
                </div>
                <div class="app-header-right">
                    <div class="header-btn-lg pr-0">
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left">
                                    <div class="btn-group">
                                        <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                            class="p-0 btn">
                                            <img width="42" class="rounded-circle" src="assets/images/avatars/user.png"
                                                alt="">
                                            <i class="fa fa-angle-down ml-2 opacity-8"></i>
                                        </a>
                                        <div tabindex="-1" role="menu" aria-hidden="true"
                                            class="dropdown-menu dropdown-menu-right">
                                            <!-- <button type="button" tabindex="0" class="dropdown-item">User
                                                Account</button>
                                            <button type="button" tabindex="0" class="dropdown-item">Settings</button> -->
                                            <a href="/logout" type="button" tabindex="0"
                                                class="dropdown-item">Logout</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-content-left  ml-3 header-user-info">
                                    <div class="widget-heading">
                                        <%= fullname %>
                                    </div>
                                    <div class="widget-subheading">
                                        <%= email %>
                                    </div>
                                </div>
                                <!-- <div class="widget-content-right header-user-info ml-3">
                                    <button type="button"
                                        class="btn-shadow p-1 btn btn-primary btn-sm show-toastr-example">
                                        <i class="fa text-white fa-calendar pr-1 pl-1"></i>
                                    </button>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="app-main">
            <div class="app-sidebar sidebar-shadow">
                <div class="app-header__logo">
                    <div class="logo-src"></div>
                    <div class="header__pane ml-auto">
                        <div>
                            <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
                                data-class="closed-sidebar">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="app-header__mobile-menu">
                    <div>
                        <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
                <div class="app-header__menu">
                    <span>
                        <button type="button"
                            class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                            <span class="btn-icon-wrapper">
                                <i class="fa fa-ellipsis-v fa-w-6"></i>
                            </span>
                        </button>
                    </span>
                </div>
                <div class="scrollbar-sidebar">
                    <div class="app-sidebar__inner">
                        <ul class="vertical-nav-menu">
                            <li class="app-sidebar__heading">Dashboard</li>
                            <li>
                                <a href="/dashboard">
                                    <i class="metismenu-icon pe-7s-rocket"></i>
                                    Dashboard
                                </a>
                            </li>

                            <li class="app-sidebar__heading">Message</li>
                            <li>

                                <a href="#">
                                    <i class="metismenu-icon pe-7s-eyedropper"></i>
                                    Elements
                                    <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                </a>
                                <ul class="mm-show">
                                    <!-- <li>
                                        <a href="/import-contacts">
                                            <i class="metismenu-icon"></i>
                                            Import Contacts
                                        </a>
                                    </li> -->
                                    <li>
                                        <a href="/send-message" class="mm-active">
                                            <i class="metismenu-icon">
                                            </i>Send Message
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/sent-messages">
                                            <i class="metismenu-icon">
                                            </i>Sent Messages
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <!-- <li class="app-sidebar__heading">Contacts</li>
                            <li>
                                <a href="/imported-contacts">
                                    <i class="metismenu-icon pe-7s-display2"></i>
                                    Imported Contacts
                                </a>
                            </li> -->

                            <li class="app-sidebar__heading">Buy SMS Credits</li>
                            <li>
                                <a href="/upgrade-package">
                                    <i class="metismenu-icon pe-7s-graph2">
                                    </i>
                                    Upgrade Package
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="app-main__outer">
                <div class="app-main__inner">
                    <div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div class="page-title-icon">
                                    <i class="pe-7s-mail icon-gradient bg-mean-fruit">
                                    </i>
                                </div>
                                <div>Send Message
                                </div>
                            </div>
                            <div class="page-title-actions">
                                <button type="button" data-toggle="tooltip" title="User Level" data-placement="bottom"
                                    class="btn-shadow mr-3 btn btn-dark">
                                    <i class="fa fa-star"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                  
                        <div class="row">

                            <div class="col-lg-12 col-xl-12">
                                <div class="card mb-3 widget-content">
                                    <div class="widget-content-outer">
                                        <div class="widget-content-wrapper">
                                            <div class="card-body">
                                                <h4 class="text-black">Upload Recipients</h4>
                                                <!-- <label for="input-file-max-fs">You can add a max file size</label> -->
                                                <input type="file" id="input" class="dropify" accept=".xls, .xlsx"
                                                    data-max-file-size="2M" />
                                            </div>
                                        </div>
    
                                    </div>
    
                                </div>
                                <button class="mb-2 mr-2 btn btn-lg btn-primary btn-block" id="button">Upload
                                </button>
                                <br>
                            </div>
                            <!-- <div id="jsondata"></div> -->
                        </div>


                    <div class="row">

                        <div class="col-lg-12 col-xl-12">
                            <form action="/send-message" method="post">
                            <div class="card mb-3 widget-content">
                                <div class="widget-content-outer">
                                    <label for="exampleText" class="col-sm-2 col-form-label">Sender ID </label>
                                    <div class="widget-content-wrapper">

                                        <div class="col-sm-12"><textarea name="senderID" rows="1"
                                                 class="form-control" placeholder="eg: MaverickEdifice, CalBank" required><%= typeof contacts != 'undefined' ? contacts : '' %></textarea></div> 
                                    </div>
                                    <br/>
                                    <label for="exampleText" class="col-sm-2 col-form-label">Recipients: </label>
                                    <div class="widget-content-wrapper">

                                        <div class="col-sm-12"><input type="text" name="contacts" rows="4"
                                                class="form-control" placeholder="eg: 0544174142, 0574321997" id="jsondata" required>  <%= typeof contacts != 'undefined' ? contacts : '' %></textarea></div>
                                    </div>
                                    <br/>
                                    <label for="exampleText" class="col-sm-2 col-form-label">Message: </label>
                                    <div class="widget-content-wrapper">

                                        <div class="col-sm-12"><textarea name="message" rows="10"
                                                class="form-control" required><%= typeof message != 'undefined' ? message : '' %></textarea></div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="mb-2 mr-2 btn-transition btn btn-lg btn-primary btn-block">Send
                            </button>
                        </form>
                        </div>

                    </div>
                    <br>
                    <br>
                </div>
                <div class="app-wrapper-footer">
                    <div class="app-footer">
                        <div class="app-footer__inner">
                            <div class="app-footer-left">
                                <ul class="nav">
                                    <li class="nav-item">
                                        <a href="https://architect-messenger.herokuapp.com" class="nav-link">
                                            Architect Messenger
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link">
                                            Copyright &copy;
                                            <script> document.write(new Date().getFullYear());</script>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="app-footer-right">
                                <ul class="nav">
                                    <li class="nav-item">
                                        <a href="https://maverick-edifice.herokuapp.com" target="_blank"
                                            class="nav-link">
                                            <div class="badge badge-success mr-1 ml-0">
                                                <small>Powered By:</small>
                                            </div>
                                            Maverick Edifice
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
        </div>
    </div>
     <!-- jQuery 3 -->
     <script src="../assets/scripts/jquery.min.js"></script>
     <script type="text/javascript" src="../assets/scripts/main.js"></script>
     <!-- dropify -->
     <script src="../assets/dropify/dropify.min.js"></script>
     <script>
         $(document).ready(function () {
             // Basic
             $('.dropify').dropify();
 
             // Translated
             $('.dropify-fr').dropify({
                 messages: {
                     default: 'Glissez-déposez un fichier ici ou cliquez',
                     replace: 'Glissez-déposez un fichier ou cliquez pour remplacer',
                     remove: 'Supprimer',
                     error: 'Désolé, le fichier trop volumineux'
                 }
             });
 
             // Used events
             var drEvent = $('#input-file-events').dropify();
 
             drEvent.on('dropify.beforeClear', function (event, element) {
                 return confirm("Do you really want to delete \"" + element.file.name + "\" ?");
             });
 
             drEvent.on('dropify.afterClear', function (event, element) {
                 alert('File deleted');
             });
 
             drEvent.on('dropify.errors', function (event, element) {
                 console.log('Has Errors');
             });
 
             var drDestroy = $('#input-file-to-destroy').dropify();
             drDestroy = drDestroy.data('dropify')
             $('#toggleDropify').on('click', function (e) {
                 e.preventDefault();
                 if (drDestroy.isDropified()) {
                     drDestroy.destroy();
                 } else {
                     drDestroy.init();
                 }
             })
         });
     </script>

    <!-- IZITOAST -->
    <script src="../assets/izitoast/js/iziToast.min.js"></script>

    <script src="../assets/scripts/excel.js"></script>

    <% if( error != '') { %>
    <script>
        var notify = new Audio('../assets/sounds/notify.mp3');
        notify.play();
        iziToast.error({ title: 'Error!', message: `<%= error %>`, position: 'bottomLeft' })
    </script>
    <% } %>
    <% if(error_msg != '') { %>
    <script>
        var notify = new Audio('../assets/sounds/notify.mp3');
        notify.play();
        iziToast.error({ title: 'Info!', message: `<%= error_msg %>`, position: 'topLeft' })
    </script>
    <% } %>
    <% if(success_msg != '') { %>
    <script>
        var notify = new Audio('../assets/sounds/notify.mp3');
        notify.play();
        iziToast.info({ title: 'Info!', message: `<%= success_msg %>`, position: 'bottomLeft' })
    </script>
    <% } %>
</body>

</html>